<div class="container margin30 animated fadeIn">
  <div style="display: flex; justify-content: space-between; align-items: center">
    <div>
      <h1>
        <i class="fa fa-address-book-o" aria-hidden="true"></i>
        Tareas</h1>
    </div>
  </div>
  <hr>
  <section id="tareas">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Completed</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody *ngFor="let usuario of usuarios; let j = index" class="animated fadeIn">
        <tr style="background-color:#2980b9; color:white" [attr.nivel]="j">
          <td style="vertical-align:middle;">
            <div style="display: flex; align-content: center">
              <div>
                <i class="fa fa-plus-square-o" (click)="setUsuario(usuario.userId)" data-toggle="modal" data-target="#addTarea" aria-hidden="true"
                  style="margin-right: 5px; font-size:18px"></i>
              </div>
              <div>
                Usuario: {{usuario.userId}}
              </div>
            </div>
          </td>
          <td colspan="3" style="vertical-align:middle;">
            <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm" #buscarNota placeholder="Buscar Tarea (id, title o completed 'true - false ')">
          </td>
        </tr>
        <tr *ngFor="let tarea of usuario.nota | filter: buscarNota.value ; let i = index" class="animated fadeIn">
          <td>{{tarea.id}}</td>
          <td>
            <div contenteditable="true">{{tarea.title}}</div>
          </td>
          <td style="text-align: center">
            <i *ngIf="!tarea.completed" class="fa fa-square-o" aria-hidden="true" (click)="CompletarTarea(true, j, i)"></i>
            <i *ngIf="tarea.completed" class="fa fa-check-square-o" aria-hidden="true" (click)="CompletarTarea(false,j, i)"></i>
          </td>
          <td style="text-align: center">
            <i class="fa fa-trash-o" style="color:#2980b9" aria-hidden="true" (click)="EliminarTarea(j,i)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>


<div id="addTarea" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar una tarea al usuario: {{idUsuario}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group input-group-sm mb-3">
          id Tarea: {{idMax}}
        </div>
        <div class="input-group input-group-sm mb-3">

          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Title</span>
          </div>
          <input type="text" class="form-control" aria-label="Small" [(ngModel)]="title" aria-describedby="inputGroup-sizing-sm">
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="AgregarTarea()" data-dismiss="modal">Aceptar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
